{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="entry">
    <u> {{ event.event_title }}</u>
    <span class="changes">
        <p></p>
        <form action="{% url 'event_edit' event.pk %}">
            <input type="submit" value="Edit">
          </form>
          <p></p>
          <form action="{% url 'event_delete' event.pk %}">
            <input type="submit" value="Delete">
          </form>
    </span>
    <h2>Plant Height: {{ event.height }} | Date: {{ event.date }}</h2>
    <h3>{{ event.description }}</h3>
</div>
<div>
    {% if event.picture %}
        <img src="{{ event.processed_picture.url }}" alt="{{ event.event_title }}">
    {% endif %}
</div>


{% for plant in plants %}
{% if plant == event.plant_id %}
<p></p>
<form action="{% url 'plant_detail' plant.pk %}">
    <input type="submit" value="{{ plant.name }}'s Events">
  </form>
  <p></p>
{% endif %}
{% endfor %}
{% endblock content %}