{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<h3>Hi {{ user.username }}!</h3>
<h3>Click below to add plants to your garden!</h3>
<div class="garden">
    <div class="button">
        <a href="{% url 'plant_list' %}" class="button">View Garden</a>
    </div>

    <div class="button"><a href="{% url 'logout' %}" class="button">Log Out</a>
    </div>
</div>

{% else %}

<ul>
    <li>Don't <em><u>LEAF</u></em> your plants behind, track their growth!</li>
    <li><em><u>PHOTO</u></em>SYNTHESIZE memories with your plant!</li>
    <li>Graphically <em><u>PLOT</u></em> your gardens growth!</li>
</ul>

{% endif %}
{% endblock content %}