{% extends "base.html" %}



{% block content %}
<div class="entry">
    <u> {{ plant.name }}</u>
    <span class="changes">
        <!-- <a href="{% url 'plant_edit' plant.pk %}">Edit</a> |
        <a href="{% url 'plant_delete' plant.pk %}">Delete</a> -->
    </span>
    <h2>{{ plant.type }} | {{ plant.date_planted }}</h2>
    <h3>{{ plant.description }}</h3>
</div>
<p></p>
<form action="{% url 'event_new' plant.pk %}">
  <input type="submit" value="New Event">
</form>


{% for event in events %}
<div class="card">
    <h3><a href="{% url 'event_detail' event.pk %}">{{ event.event_title }}</a> | {{ event.date }} 
      <form action="{% url 'event_edit' event.pk %}">
        <input type="submit" value="Edit">
      </form>
      <form action="{% url 'event_delete' event.pk %}">
        <input type="submit" value="Delete">
      </form>
    </h3>
</div>
{% endfor %}

<p></p>
<p></p>

<div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
    
    Chart.defaults.font.size = 18;
    Chart.defaults.font.weight = 800;
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for event in events %} "{{ event.event_title }}", {% endfor %}],
        datasets: [{
        label: 'Height of {{ plant.name }}',
        data: [{% for event in events %} "{{ event.height }}", {% endfor %}],
        borderWidth: 1,
        borderColor: '#006F1D',
        backgroundColor: '#005416',
    }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>



{% endblock content %}